/* font */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* hide forms from user */

#q1 {
    display: none;
}

#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}

#q5 {
    display: none;
}

#q6 {
    display: none;
}


/* gradient background */

.background {
    background: rgb(84, 46, 113);
    background: linear-gradient(90deg, rgba(84, 46, 113, 1) 0%, rgba(251, 54, 64, 1) 100%);
}


/* apply font to all fonts on page */

h1,
h2,
h3 {
    font-family: 'Rajdhani', sans-serif;
    color: white;
}


/* top nav bar look */

.topnav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    background: hsla(0, 0%, 0%, 0.3);
    font-family: 'Rajdhani', sans-serif;
    color: lightcyan;
}


/* put content in a box with a transparent background for aesthetics */

.wide_content {
    padding: 1%;
    margin-top: 7%;
    left: 0;
    color: lightcyan;
    background: hsla(0, 0%, 0%, 0.1);
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}


/* cool kid button */

.button {
    background: hsla(0, 0%, 0%, 0.1);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    font-size: 16px;
}